<div class="row">
  <div class="col-md-12 text-center">
    <div class="tree">
      <ul>
        <li>
          <div href="#">
            <p>
              150
            </p>
          </div>
          <ul>
            <li>
              <div href="#" class="bottom">
                <p>
                  225
                </p>
              </div>
              <ul>
                <li>
                  <div href="#">
                    <p>
                      225
                    </p>
                  </div>
                </li>
                <li>
                  <div href="#">
                    <p>
                      225
                    </p>
                  </div>
                </li>
                <li>
                  <div href="#">
                    <p>
                      225
                    </p>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div href="#" class="bottom">
                <p>
                  225
                </p>
              </div>
              <ul>
                <li>
                  <div href="#">
                    <p>
                      225
                    </p>
                  </div>
                </li>
                <li>
                  <div href="#">
                    <p>
                      225
                    </p>
                  </div>
                </li>
                <li>
                  <div href="#">
                    <p>
                      225
                    </p>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div href="#" class="bottom">
                <p>
                  225
                </p>
              </div>
              <ul>
                <li>
                  <div href="#">
                    <p>
                      225
                    </p>
                  </div>
                </li>
                <li>
                  <div href="#">
                    <p>
                      225
                    </p>
                  </div>
                </li>
                <li>
                  <div href="#">
                    <p>
                      225
                    </p>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</div>
